:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a {
  color: #3573b7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #1a1a1a;
  border: 3px solid #1a1a1a; 
  outline: none;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s; 
}

button:hover {
  background-color: #333; 
  border: 3px solid #3573b7; 
  outline: none;
}

button:focus {
  border: 3px solid #a340ed; 
  outline: none;
}

br {
  border-color: #666;
}

table {
  margin: auto;
  width: 100%;
  border-spacing: 0;
  border-color: #c1c1c1;
  border-radius: 8px;
  overflow: hidden;
}

table th {
  text-align: left;
  padding: 8px;
  border: 1px solid #333;
  border-top-color: #3573b7;
  border-bottom-color: #3573b7;
  background-color: #3573b7;
}

table th:first-child {
  border-left-color: #3573b7;
  border-top-left-radius: 8px;
}

table th:last-child {
  border-right-color: #3573b7;
  border-top-right-radius: 8px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
  
table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

th {
  background-color: #333;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
  color: #333
}

td {
  border: 1px solid #666;
  padding: 8px;
  text-align: left;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 320px;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #3573b7;
  }

  button {
    background-color: #f9f9f9;
  }
}